@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import "./vendor/normalize.css";
:root {
  --font-family: "Open Sans";
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "SanFrancisco";
  src: url("../fonts/../fonts/SFMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Droid";
  src: url("../fonts/../fonts/DroidSansMono.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "3270";
  src: url("../fonts/../fonts/3270-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FiraCode";
  src: url("../fonts/../fonts/FuraCodeRegularNerdFontComplete.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/../fonts/CascadiaCode.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.page__body {
  background: #0c0c0c;
  color: #cccccc;
  font-size: 13px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 15px 5px 5px 5px;
}

.main-border {
  border: 2px solid #808080;
  padding: 16px 6px 6px 6px;
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 0;
}

.main-title {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 10px;
  background: #0c0c0c;
  white-space: nowrap;
}

.sanfrancisco {
  font-family: "SanFrancisco";
}

.droid {
  font-family: "Droid";
}

.f3270 {
  font-family: "3270";
}

.firacode {
  font-family: "FiraCode";
}

.cascadiacode {
  font-family: "CascadiaCode";
}

.ubuntumono {
  font-family: "Ubuntu Mono", monospace;
}

.box {
  border: 2px solid #808080;
  position: relative;
  padding: 12px 7px 7px 7px;
}
.box--portfolio {
  height: 100%;
}
.box--about-me {
  margin: 0px 0px 12px 0px;
}
.box--commands {
  margin: 0px 0px 0px 0px;
}

.portfolio-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 12px;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
  max-height: 50%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 1.4fr;
  grid-template-columns: 1.6fr 1.4fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  row-gap: 0;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
}

.console-bar {
  margin: 6px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.console-bar__item {
  padding: 4px 8px 4px 20px;
  position: relative;
}
.console-bar__item::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 11px 10px;
}
.console-bar__user {
  background: #003543;
  color: #94e466;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.console-bar__user::after {
  border-color: transparent transparent transparent #003543;
}
.console-bar__path {
  background: #006298;
  color: #ffffff;
}
.console-bar__path::after {
  border-color: transparent transparent transparent #006298;
}
.console-bar__git {
  background: #d2ff5e;
  color: #000000;
  margin: 0 25px 0 0;
}
.console-bar__git::after {
  border-color: transparent transparent transparent #d2ff5e;
}
.console-bar__clock {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 26px;
  background: #006298;
  color: #ffffff;
}

.console-bar-form {
  width: 40%;
  position: relative;
}
.console-bar-form__input {
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  color: #cccccc;
  position: relative;
  height: 20px;
  font-size: 15px;
}
.console-bar-form__fake-caret {
  position: absolute;
  top: 0;
  left: 0;
  background: #cccccc;
  width: 10px;
  height: 100%;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-timing-function: cubic-bezier(0, 1.26, 0.18, 0.96);
  animation-timing-function: cubic-bezier(0, 1.26, 0.18, 0.96);
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.console-bar-form__error {
  color: #de382b;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */