@import "./vendor/normalize.css";

html {
  box-sizing: border-box;
}

p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}
