$border: 2px solid #808080;
$black: #0c0c0c;
$red: #de382b;
$green: #39b54a;
$yellow: #c19c00;
$blue: #0037da;
$white: #cccccc;
$console-user-bg: #003543;
$console-user-text: #94e466;
$console-path-bg: #006298;
$console-path-text: #ffffff;
$console-git-bg: #d2ff5e;
$console-git-text: #000000;
$console-clock-bg: #006298;
$console-clock-text: #ffffff;
